*{
margin:0;
padding:0;
box-sizing:border-box;
}
body{
font-family:Arial, Helvetica, sans-serif;
}
header{
background:white;
padding:20px 80px;
}


      /* navigation */

.navbar{
display: flex;
justify-content: space-between;
align-items: center;
height: 40px;
padding: 0 40px;
}

.logo{
width:180px;
}

.nav-text{
display:flex;
align-items:center;
gap:35px;
}

.nav-links{
list-style:none;
display:flex;
gap:30px;
}

.nav-links a{
text-decoration:none;
color:#333;
font-size:17px;
font-weight:500;
transition:.3s;
}

.nav-links a:hover{
color:#0037ff;
}

.common-button{
background:#2952e3;
color:white;
border:none;
padding:12px 22px;
border-radius:6px;
font-size:25px;
cursor:pointer;
transition:.3s;
}

.common-button:hover{
background:#1737b8;
}

          /* hero section css */

.hero{
background-image: url("./assets/banner.jpg");
background-size: cover;
background-position: center;
background-repeat: no-repeat;
justify-content: center;
align-items: center;
color: white;
height: 100vh;
display: flex;
}
.hero-content{
text-align: center;
color: #FFFFFF;
width:900px;
}
.hero h1{
font-size: 70px;
font-weight: 700;
margin-bottom: 20px;
}
.hero p{
font-size: 20px;
color: #FFFFFF;
line-height: 1.6;
margin-bottom: 300px;
}
.highlight-text{
text-align: center;
margin-top: 50px;
font-size: 24px;
font-weight: 600;

}
